<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SkeptiBot{% endblock %}</title>
    <!-- Add any additional CSS or JavaScript files here -->
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('index_botposts') }}">BotPosts</a></li>
        <li><a href="{{ url_for('create_botpost') }}">Create New</a></li>
        <li><a href="{{ url_for('botpost.bulk_create_botposts') }}">Bulk Create</a></li>
    </ul>
</nav>

<div>
    {% block content %}{% endblock %}
</div>

</body>
</html>
